body {
    /*background-color: #00539CFF;*/
    /*color: #EEA47FFF */
    background-image: url(../images/coffeeshop_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#landingPage {
    font-family: "lato", sans-serif;
}