* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/coffeeshop_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

button {
    background-color: rgba(238, 164, 127, 0.8);
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* navigation bar */
#navigationBar {
    width: 100%;
    margin-top: 2rem;
    font-family: "yellowtail", cursive;
    font-size: 2.5rem;
}

.active {
    text-decoration: underline;
    text-transform: uppercase;
}

#navigationBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navigationBar li {
    margin: 0 3rem;
    list-style-type: none;
    letter-spacing: .25rem;
}

a {
    text-decoration: none;
    color: #000;
}

#logOut {
    background-color: rgba(238, 164, 127, 0.8);
}

#logOut {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.authenticated {
    display: none;
}

/* Landing Page */
#landingPage {
    font-family: "lato", sans-serif;
    color: #EEA47FFF;
    font-weight: bold;
    margin: auto auto;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    margin-top: 5rem;
}

.landingPageContent {
    font-size: 2rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(0, 83, 156, 0.7);
    border-radius: 10px;
}

.landingPageContent h1 {
    letter-spacing: .50rem;
    text-decoration: underline;
    font-weight: 1000;
}

.landingPageContent p {
    margin-top: 1rem;
}

.landingPageBtn {
    background-color: rgba(238, 164, 127, 0.8);
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.landingPageBtn:hover {
    background-color: #fff;
}

.landingPageBtn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* Menu Page */
#menuContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 2rem auto;
    justify-content: space-around;
    font-family: "lato", sans-serif;
}

.tablink {
    width: 33%;
    text-align: center;
    padding: 0 1rem;
    font-size: 2rem;
    background-color: #00539CFF;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.tablink:hover {
    background-color: rgba(0, 83, 156, 0.7);
}

.tablink:active {
    background-color: rgba(238, 164, 127, 0.8);
    text-decoration: underline;
}

.menuTab {
    width: 50%;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
}

.btnOptions {
    width: 100%;
    font-size: 1.5rem;
    padding: 18px;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238, 164, 127, 0.8);
    cursor: pointer;
}

/* Your order page */
#orderContainer {
    width: 50%;
    margin: 2rem auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "lato", sans-serif;
    color: #000;
}

#orders {
    width: 100%;
    margin: 2rem auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(238, 164, 127, 0.8);
    padding: 20px;
}

.orderAmount {
    width: 2rem;
}

.tableHeadings th {
    border: 1px solid;
    font-weight: bolder;
}

.tableRows {
    padding-bottom: 20px;
}

.tableRows td {
    padding: 10px 10px 0;
}

.removerOrderBtn {
    font-size: 0.5rem;
    font-weight: 100;
}

.yourOrderBtn {
    line-height: 50px;
}

#totalPriceContainer {
    margin: 1.5rem;
    font-size: 2rem;
    text-decoration: underline;
}


/* Login page */
#loginPageWrapper {
    display: flex;
    font-family: "lato", sans-serif;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    background-color: rgba(0, 83, 156, 0.3);
    font-size: 1.25rem;
    font-family: "lato", sans-serif;
}

#loginMsg {
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    font-size: 1.5rem;
}

.login-form-btn {
    line-height: 50px;
    margin-top: 10px;
}

.signUpBtn {
    line-height: 50px;
    margin: 15px;
}

/* Sign up page */
#signUpWrapper {
    width: 80%;
    margin: 1.5rem auto;
    font-family: "lato", sans-serif;
}

#signUpWrapper input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#signUpWrapper label {
    font-size: 1.5rem;
}

#signUpWrapper button {
    margin: 20px 25px 10px 0;
    line-height: 50px;
}

/* User orders page */
#userOrdersWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    font-family: "lato", sans-serif;
    font-size: 1.5rem;
    background-color: rgba(238, 164, 127, 0.8);
}

.receiptContent {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid;
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgba(238, 164, 127, 0.8);
    position: fixed;
    padding: 10px;
    margin-top: 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
}


/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navigationBar {
        margin-top: 1rem;
        font-size: 1rem;
        margin-left: 0;
    }
    
    #navigationBar ul {
        flex-wrap: wrap;
        justify-items: left;
        justify-content: space-between;
    }

    #navigationBar li {
        margin: 0;
        letter-spacing: 0;
    }

    #logOut {
        font-size: 1rem;
    }

    #landingPage {
        width: 100%;
    }

    .landingPageContent {
        font-size: 1rem;
        margin: 1rem auto;
        padding: 1rem;
    }

    #menuContainer {
        width: 100%;
    }

    .tablink {
        width: 33%;
        font-size: 0.6rem;
    }

    .menuTab {
        width: 100%;
        padding: 10px;
    }
    
    .btnOptions {
        width: 80%;
        font-size: 0.8rem;
    }

    #orderContainer {
        width: 100%;
    }

    #orders {
        width: 100%;
        font-size: 0.8rem;
    }

    #totalPriceContainer {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.2rem;
    }

    #userOrdersWrapper {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }

    /* Login page */
    #loginPageWrapper {
        width: 100%;
        font-size: 1.25rem;
    }
    
    #loginMsg {
        font-size: 0.8rem;
    }
    
    #login-form {
        margin-top: 1rem;
    }

    .login-form-field {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, 1023px and down) */
@media only screen and (max-width: 1023px) {    
    #navigationBar {
        margin-top: 2rem;
        font-size: 1.25rem;
        margin-left: 0;
    }

    #navigationBar ul {
        flex-wrap: wrap;
        justify-items: center;
        justify-content: space-around;
    }

    #navigationBar li {
        margin: 0;
        letter-spacing: 0;
    }

    #logOut {
        font-size: 1rem;
    }

    #landingPage {
        width: 80%;
    }
    
    .landingPageContent {
        font-size: 1.5rem;
        margin: 3rem auto;
        padding: 1rem;
    }

    #menuContainer {
        width: 80%;
    }

    .tablink {
        width: 33%;
        font-size: 1.10rem;
    }

    .menuTab {
        width: 100%;
        padding: 0 1rem;
    }
    
    .btnOptions {
        width: 75%;
        font-size: 1rem;
    }

    #orderContainer {
        width: 100%;
    }

    #orders {
        width: 100%;
        font-size: 1rem;
    }

    #totalPriceContainer {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.25rem;
    }

    #userOrdersWrapper {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }
}
