body {
    /*background-color: #00539CFF;*/
    /*color: #EEA47FFF */
    background-image: url(../images/coffeeshop_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
}

button {
    background-color: rgba(238, 164, 127, 0.8);
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* navigation bar */
#navigationBar {
    width: 100%;
    margin-top: 2rem;
    font-family: "yellowtail", cursive;
    font-size: 2.5rem;
}

.active {
    text-decoration: underline;
    text-transform: uppercase;
}

#navigationBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navigationBar li {
    margin: 0 3rem;
    list-style-type: none;
    letter-spacing: .25rem;
}

a {
    text-decoration: none;
    color: #000;
}

#logOut {
    background-color: rgba(238, 164, 127, 0.8);
}

/*
#loginPage {
    display: none; 
}
*/

#logOut {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.authenticated {
    display: none;
}

/* Landing Page */
#landingPage {
    font-family: "lato", sans-serif;
    color: #EEA47FFF;
    font-weight: bold;
    margin: auto auto;
    width: 50%;
    background-color: rgba(0, 83, 156, 0.3);
    text-align: center;
    border-radius: 15px;
}

.landingPageContent {
    font-size: 2rem;
    margin: 1rem auto;
    padding: 1rem;
}

.landingPageContent h1 {
    letter-spacing: .50rem;
    text-decoration: underline;
    font-weight: 1000;
}

.landingPageBtn {
    color: #000;
    font-size: 2rem;
    padding: .50rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: #EEA47FFF;
}

/* Menu Page */
#menuContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto auto;
    justify-content: space-around;
    font-family: "lato", sans-serif;
}

.tablink {
    width: 33%;
    text-align: center;
    padding: 0 1rem;
    font-size: 2rem;
    background-color: #00539CFF;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.tablink:hover {
    background-color: rgba(0, 83, 156, 0.7);
}

.tablink:active {
    background-color: rgba(238, 164, 127, 0.8);
    text-decoration: underline;
}

.menuTab {
    width: 50%;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
}

.btnOptions {
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238, 164, 127, 0.8);
    cursor: pointer;
}

/* Your order page */
#orderContainer {
    width: 50%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "lato", sans-serif;
    color: #000;
}

#orders {
    width: 100%;
    margin: auto auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(238, 164, 127, 0.8);
    padding: 20px;
}

.orderAmount {
    width: 2rem;
}

.tableHeadings th {
    border: 1px solid;
    font-weight: bolder;
}

.tableRows {
    padding-bottom: 20px;
}

.tableRows td {
    padding: 10px 10px 0;
}

.removerOrderBtn {
    font-size: 0.5rem;
    font-weight: 100;
}

.yourOrderBtn {
    line-height: 50px;
}

#totalPriceContainer {
    margin-top: 1.5rem;
    font-size: 2rem;
    text-decoration: underline;
}


/* Login page */
#loginPageWrapper {
    display: flex;
    font-family: "lato", sans-serif;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto auto;
    background-color: rgba(0, 83, 156, 0.3);
    font-size: 1.25rem;
    font-family: "lato", sans-serif;
}

#loginMsg {
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    font-size: 1.5rem;
}

.login-form-btn {
    line-height: 50px;
    margin-top: 10px;
}

.signUpBtn {
    line-height: 50px;
    margin: 15px;
}

/* Sign up page */
#signUpWrapper {
    width: 80%;
    margin: auto auto;
    font-family: "lato", sans-serif;
}

#signUpWrapper input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#signUpWrapper label {
    font-size: 1.5rem;
}

#signUpWrapper button {
    margin: 20px 25px 10px 0;
    line-height: 50px;
}

/* User orders page */
#userOrdersWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    font-family: "lato", sans-serif;
    font-size: 1.5rem;
}

.receiptContent {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid;
}